{% extends "pylucid_admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">
try {
    jQuery(document);
} catch (e) {
    alert("Error, jQuery JS not loaded!\n Original error was:" + e);
}
function get_and_reload(url) {
  log("ajax request to:" + url);
  $.ajax({
    type: "GET",
    url: url,
    success: function() {
        log("request successfull, reload page.");
        location.reload();
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
        // We always get a error page back, becuase we kill the python process ;)
        // Check if we get a "normal" internal server error page or a django traceback page
        log("request error.");
        log("textStatus:" + textStatus);
        log("errorThrown:" + errorThrown);
        var response_text = XMLHttpRequest.responseText;
        if (!response_text) {
            replace_page_content('<h1 class="noanchor">Ajax response error without any response text.</h1>', textStatus);
            return;
        }
        if (response_text.indexOf("traceback") != -1) {
            // A django traceback page was send: Display it
            replace_complete_page(XMLHttpRequest.responseText); // from pylucid_js_tools.js
            return;
        }
        location.reload();
    },
  });
}

jQuery(document).ready(function($) {
  $("#abort_link").click(function() {
    log("'os.abort()' clicked");
    get_and_reload("{% url SysInfo-os_abort %}");
  });
  $("#killall").click(function() {
    log("'killall python' clicked");
    get_and_reload("{% url SysInfo-killall %}");
  });
});
</script>
{% endblock %}

{% block content %}
<!-- view_content block -->
<h2>{{ top_cmd }}</h2>
<pre>
{{ top_output }}
</pre>

<h2>process info</h2>
<ul>
	<li>total processes: {{ proc_info.total_process_count }}</li>
	<li>total treads: {{ proc_info.total_thread_count }}</li>
	<li>user processes: {{ proc_info.uid_process_count }}</li>
	<li>user threads: {{ proc_info.uid_thread_count }}</li>
	<li>filtered by user ID: {{ proc_info.uid }}</li>
	<li>current process ID: {{ pid }}</li>
</ul>
<h2>quick tools</h2>
<noscript><strong>JavaScript needed!</strong></noscript>
<ul>
  <li><a id="abort_link" href="JavaScript:void(0)">os.abort()</a> - <small>Generate a SIGABRT signal to the current process.</small></li>
  <li><a id="killall" href="JavaScript:void(0)">killall python</a> - <small>Send SIGTERM signal to all python process.</small></li>
</ul>

<h2>process list</h2>
<table>
<tr>
	<th>pid</th>
	<th>Peak virtual memory size</th>
	<th>Peak resident set size</th>
	<th>Threads</th>
	<th>Programm</th>
	<th>kill</th>
</tr>
{% for process_info in proc_info|dictsort:"Name" %}
<tr{% if process_info.pid == pid %} style="background-color:#ddd;" title="{% trans "current process" %}"{% endif %}>
    {#<td><pre>{{ process_info|pprint }}</pre></td>#}
	{#<td><pre>{{ process_info.raw_status }}</pre></td>#}
    <td>
      {% if process_info.pid == pid %}
        <strong>{{ process_info.pid }}</strong>
      {% else %}
        {{ process_info.pid }}
      {% endif %}
    </td>
    <td>{% if process_info.VmPeak %}{{ process_info.VmPeak }}{% else %}???{% endif %}</td>
    <td>{% if process_info.VmHWM %}{{ process_info.VmHWM }}{% else %}???{% endif %}</td>
    <td>{{ process_info.Threads }}</td>
    <td>{{ process_info.get_html_cmdline }}</td>
    <td>
    	<form method="post" action="{{ form_url }}">
            {{ process_info.form.as_p }}
	   	    <input type="submit" value="Send signal" />
		</form>
	</td>
</tr>
{% endfor %}
</table>

<h2>process menory information</h2>
<table>
<tr>
    <th>Process name</th>
    {% for memory_type in proc_info.COLLECT_MEMORY_TYPES %}
    <th>{{ memory_type }}</th>
    {% endfor %}
</tr>
{% for proc_memory in proc_info.proc_memory_sum|dictsort:"Name" %}
    
<tr>
    <td>{{ proc_memory.Name }}</td>
    {% for memory_sum in proc_memory.mem_list %}
    <td>{{ memory_sum|filesizeformat }}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>
<!-- view_content block end -->
{% endblock %}